/* .signin-container{
    box-sizing: border-box;
    background-color: aqua;
} */
*, *:before, *:after{
    box-sizing: inherit;
}
.signin-submit-button{
    /* background-color:rgba(13, 174, 68, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: solid; */
    appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.signin-submit-button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
.signin-first-border{
    background:linear-gradient(to right,rgb(149, 0, 255),rgb(4, 0, 255)) ;
    /* margin: 80px 30px 0px 30px ; */
    padding: 80px 30px 80px 30px ;
}
.signin-border{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 80px 30px 40px 30px;
    background-color: white;

}
