/* .edit-user-submit-btn{
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
.edit-user-submit-btn:hover {
      background-color: #1e8449;
      opacity: 1;
      transform: translateY(0);
      transition-duration: .35s;
    }
 */
.edit{
  padding: 20px 0px;
  /* background-color: red; */
  width: 100vw;
  color: gray;
  text-align: center;
}

.editSpace{
  /* background-color: red; */
  height: 70vh;


}
.editinputs>.row>input{
  width: 200px;
}
.editField{
  /* background-color: blue; */
  color: rgb(82, 82, 82);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}
.editinputs{
  /* background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.editInputField>input{
  border:0px;
  border-radius: 10px;
  height: 40px;
  outline: none;
  background-color: rgb(172, 249, 255);
  padding: 0px 0px 0px 10px;
  width: 200px;
  /* background-color: red; */
  /* font-size: 18px;
  color: black; */

}
.editViewTitle{
  font-weight: 600;
  font-size: 20px;
}
.editViewData{
  color: black;
  font-weight: 2500;
  font-size: 20px;
  overflow-wrap: break-word;
}
.editView{
  padding: 20px 0px;
}
.editButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.editButton>button{
  background-color: rgb(0, 102, 255);
  border: 0px;
  border-radius: 10px;
  width: 130px;
  height: 30px;
  color: white;
  font-weight: 600;
}
.viewEdits{
  background-color: rgb(224, 253, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 20px 30px black;

}
.editButton>button:hover{
  background-color: rgb(0, 183, 255);
  transition: 0.2s;
  /* color: black; */
}