/* .edit-btn{
    
} */
/* .profileImage>img{
    width: 200px;
    height: 200px;
} */
.profilePostDisplay {
  color: rgb(0, 137, 161);
  background-color: rgb(180, 237, 255);
  margin: 20px;
  padding: 15px;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  transition: 0.5s;
  overflow-wrap: break-word;
}
.profilePostDisplay:hover {
  transform: scale(1.1);
}
.profileData {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileData > .row {
  /* background-color: blue; */
  width: 70%;
}
.profileData > .row > p {
  margin: 1.2rem 0px;
}
.profileData > h1 {
  color: rgb(90, 90, 90);
  /* background-color: red; */
  /* display: flex;
    flex-direction: row; */
}
.profilePostTitle {
  font-size: 20px;
  font-weight: 500;
  color: blue;
}
.profilePostDisplay > button {
  /* width: 100px; */
  color: blue;
  background-color: rgb(180, 237, 255);
  border: 0px;
  /* height: 10px; */
}
.profilePostdesc {
  font-size: 15px;
}
.profileUsername {
  text-align: center;
  padding: 30px 0px;
}

.profileData > p > span {
  color: black;
  font-weight: 600;
}
.profileEditBtn {
  width: 80px;
  border: 0px;
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  font-weight: 600;
}
.profileEditBtn:hover {
  background-color: blue;
  transition: 0.5s;
}
.profilePost {
  padding: 20px;
  text-align: center;
}
.profilePostCard {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 5px 10px 30px black;
  margin: 30px 0px;
  border-radius: 15px;
}
.profileField {
  font-weight: 700;
}
.profileLogout {
  width: 80px;
  border: 0px;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  font-weight: 600;
  margin-left: 8px;
}
.profileLogout:hover {
  background-color: rgb(187, 0, 0);
  transition: 0.5s;
}
.profileButtons{
    /* background-color: purple; */
    width: 100%;
}
@media screen and (min-width: 1000px) {
  .profileData {
    /* margin: 0px;
    height: 10px; */
  }
}
