/* *, *:before, *:after{
    box-sizing: inherit;
}
.login-background{
    background:linear-gradient(to right,rgb(149, 0, 255),rgb(4, 0, 255)) ;
    padding: 200px 30px 200px 30px ;
}
.login-heading{
    color: white;
   
    font-size: 50px;
}
.login-sub-heading{
    color: rgb(174, 174, 174);
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-btn{
    color: white;
    border-style: none;
    background-color: #1e8449;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: solid;
  
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
.login-btn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
.login-login-id{
    padding: 10px 10px 10px 10px;

}
.login-login-pwd{
    padding: 10px 10px 10px 10px;
} */

.login-background{
    height: 100vh;


}
.Login{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginContainer{
    background-image: linear-gradient(to top right, rgb(123, 123, 253), rgb(0, 183, 255));
    border-radius: 50px;
    /* height: 80%; */
    width: 50vw;
    box-shadow: 10px 20px 30px black;
    /* background-color: white; */
}
.loginHeading{
    height: 20%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.loginHeading{
    color: white;
}
.loginInput{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginInput>input{
    height: 50px;
    width: 200px;
    border: 0px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    color: gray;
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.login-btn>button{
    width: 150px;
    border: 0px;
    color: white;
    border-radius: 10px;
    height: 30px;
    font-weight: 500;
    background-color: blue;
}
.login-btn>button:hover{
    background-color: rgb(0, 225, 255);
    transition: 0.3s;
    border-radius: 10px;
    height: 30px;
}
@media screen and (min-width: 1000px){
    .loginInput>input{
        width: 300px;
    }
}